/* Initial variables */
:root {
  --light-bg: #fff;
  --light-bg-alt: #f3f3f3;
  --light-text: #000;
  --light-link-hover: #333;
  --light-border: #d7d7d7;
  --light-link: #c44145;
  --light-link-visited: #8f2f32;

  --dark-bg: #1d1d1d;
  --dark-bg-alt: #111;
  --dark-text: #eee;
  --dark-link-hover: #ccc;
  --dark-border: #2d2d2d;
  --dark-link: #a62f33;
  --dark-link-visited: #711e21;

  --bg: var(--light-bg);
  --bg-alt: var(--light-bg-alt);
  --text: var(--light-text);
  --link-hover: var(--light-link-hover);
  --border: var(--light-border);
  --link: var(--light-link);
  --link-visited: var(--light-link-visited);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--dark-bg);
    --bg-alt: var(--dark-bg-alt);
    --text: var(--dark-text);
    --link-hover: var(--dark-link-hover);
    --border: var(--dark-border);
    --link: var(--dark-link);
    --link-visited: var(--dark-link-visited);
  }
}

:root:has(#color-mode:checked ~ *) {
  --bg: var(--dark-bg);
  --bg-alt: var(--dark-bg-alt);
  --text: var(--dark-text);
  --link-hover: var(--dark-link-hover);
  --border: var(--dark-border);
  --link: var(--dark-link);
  --link-visited: var(--dark-link-visited);
}

@media (prefers-color-scheme: dark) {
  :root:has(#color-mode:checked ~ *) {
    --bg: var(--light-bg);
    --bg-alt: var(--light-bg-alt);
    --text: var(--light-text);
    --link-hover: var(--light-link-hover);
    --border: var(--light-border);
    --link: var(--light-link);
    --link-visited: var(--light-link-visited);
  }
}

/* Scrollbar */
:root {
  scrollbar-color: var(--link-hover) var(--bg);
}

::selection {
  background-color: var(--link);
}

/* Links */
a {
  color: var(--link);
  font-weight: bold;
}
a:visited {
  color: var(--link-visited);
}
a:hover {
  color: var(--link-hover);
}
a::selection {
  color: var(--bg);
}
a:hover::selection {
  color: var(--link-hover);
}

/* The theme toggle button */
input[type = checkbox]#color-mode {
  position: absolute;
  left: -999vw;
}

#color-mode + label {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5%;
  font-size: 1.2rem;
  cursor: pointer;
}

#color-mode + label::after {
  content: "🌙";
  background: var(--dark-bg);
  border-color: var(--dark-border);

  border-style: solid;
  border-width: 2px;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;

  outline-style: solid;
  outline-color: transparent;
}
#color-mode:checked + label::after {
  content: "☀️";
  background: var(--light-bg);
  border-color: var(--light-border);
}

@media (prefers-color-scheme: dark) {
  #color-mode + label::after {
    content: "☀️";
  background: var(--light-bg);
  border-color: var(--light-border);
  }
  #color-mode:checked + label::after {
    content: "🌙";
  background: var(--dark-bg);
  border-color: var(--dark-border);
  }
}

#color-mode:focus + label::after {
  outline: medium auto currentColor;
  outline: medium auto invert;
  outline: 5px auto -webkit-focus-ring-color;
}
#color-mode:focus:not(:focus-visible) + label::after {
  outline:none !important;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

/* Other */
.weak {
  font-weight: lighter;
}

/* Centering */
/* Horizontal Centering */
body {
  text-align: center;
}

/* Fix list alignment */
ul {
  display: inline-block;
  text-align: left;
}

/* Instance list formatting */
.instance-list {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 16px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--border);
  background-color: var(--bg-alt);
  font-size: 1.1rem;
}

/* Vertical Centering */
.middle-centering-div {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.inner-centering-div {
  display: table-cell;
  vertical-align: middle;

  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

/* Removes the top padding of the first element and the bottom padding of the last, to reduce the offset */
.inner-centering-div > *:first-child {
  margin-top: 0;
}
.inner-centering-div > *:last-child {
  margin-bottom: 0;
}
